.card {
  background:#00a651;
  border-radius: 2px;
  /* height: 250px; */
  margin: 1rem;
  position: relative;
  width: 325px;
  /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
  text-align: left;
  border-style: none;
}
.card > .img-container {
  height: 60%;
  /* overflow: hidden; */
  text-align: center;
  /* background:#6CADDC; */
  padding-right: 60px;
}

.card > .img-container > img {
  width: 60%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}
.card:hover {
  cursor: pointer;
}
